doctype 5
html(lang="en")
  head
    title= title
    link(rel="stylesheet", href="style.css")
    link(rel="stylesheet", href="normalize.css")
    link(rel="stylesheet", href="tabla.css")
    link(rel="stylesheet", href="bootstrap.min.css")
    script(type='text/javascript')
      function insertText(){
        var mydate=new Date()
        var theyear=mydate.getYear()
        if (theyear < 1000)
        theyear+=1900
        var theday=mydate.getDay()
        var themonth=mydate.getMonth()+1
        if (themonth<10)
        themonth="0"+themonth
        var theday=mydate.getDate()
        if (theday<10)
        theday="0"+theday


        var displayfirst=themonth
        var displaysecond=theday
        var displaythird=theyear
        frm1.n2.value = displayfirst+"/"+displaysecond+"/"+displaythird; //asigna el texto al campo
      }

  body(onLoad="insertText();")
    #wrap
      header
        h1 Plataforma de Evaluación JUDC 2013

      section
        article#texto3
          h1 Asignación de jurados JUDC
          hr
          form(method="post", enctype="multipart/form-data", name="frm1")
            h2 JURADOS
            p
              label(for="j1", style="color: #ff0000; font-size: 18px;font-weight:bold;text-align: center;") Nombre del Jurado 1:
                select(name="j1", (style="color: #000000; font-size: 20px;font-weight:bold;text-align: center;"))
                  - each inscrito in usuarios
                      option #{inscrito.dato}
            p
              label(for="j2", style="color: #ff0000; font-size: 18px;font-weight:bold;text-align: center;") Nombre del Jurado 2:
                select(name="j2", (style="color: #000000; font-size: 20px;font-weight:bold;text-align: center;"))
                  - each inscrito in usuarios
                      option #{inscrito.dato}
            p
              label(for="j3", style="color: #ff0000; font-size: 18px;font-weight:bold;text-align: center;") Nombre del Jurado 3:
                select(name="j3", (style="color: #000000; font-size: 20px;font-weight:bold;text-align: center;"))
                  - each inscrito in usuarios
                      option #{inscrito.dato}
            p
              label(for="sala", style="color: #ff0000; font-size: 18px;font-weight:bold;text-align: center;") Sala a la que pertenece:
                select(name="sala", (style="color: #000000; font-size: 20px;font-weight:bold;text-align: center;"))
                    option Sala 1
                    option Sala 2
                    option Sala 3
                    option Sala 4
                    option Sala 5
                    option Sala 6
                    option Sala 7

            hr
            button(type='submit', class='btn btn-primary', style="color: #000000; font-size: 30px;font-weight:bold;text-align: center;") Mandar los datos        

      content
      footer 
        i
          &copy; 2013 | UNAN FAREM Chontales | Diseño y programación : Jonathán Moreno
        block text