doctype 5
html(lang="en")
  head
    title= title
    link(rel="stylesheet", href="style.css")
    link(rel="stylesheet", href="normalize.css")
    link(rel="stylesheet", href="tabla.css")
    link(rel="stylesheet", href="bootstrap.min.css")
    script(type='text/javascript')
      function insertText(){
        var mydate=new Date()
        var theyear=mydate.getYear()
        if (theyear < 1000)
        theyear+=1900
        var theday=mydate.getDay()
        var themonth=mydate.getMonth()+1
        if (themonth<10)
        themonth="0"+themonth
        var theday=mydate.getDate()
        if (theday<10)
        theday="0"+theday


        var displayfirst=themonth
        var displaysecond=theday
        var displaythird=theyear
        frm1.n2.value = displayfirst+"/"+displaysecond+"/"+displaythird; //asigna el texto al campo
      }

  body(onLoad="insertText();")
    #wrap
      header
        h1 Plataforma de Evaluación JUDC 2013

      section
        article#texto3
          h1 Asignación de jurados JUDC
          hr
          form(method="post", enctype="multipart/form-data", name="frm1")
            h2 JURADOS
            p
              label(for="j1") Jurado 1:
                select(name="j1")
                  - each inscrito in usuarios
                      option #{inscrito.nombre}
            p
              label(for="j2") Jurado 2:
                select(name="j2")
                  - each inscrito in usuarios
                      option #{inscrito.nombre}
            p
              label(for="j3") Jurado 3:
                select(name="j3")
                  - each inscrito in usuarios
                      option #{inscrito.nombre}
            hr
            button(type='submit', class='btn btn-primary') Mandar los datos        

      content
        nav
          ul
            li
              a(href="/") Inicio
            li 
              a(href='/nuevo-trabajo') Inscripición
            li
              a(href='/admin') IR A LA PAGINA PRIVADA
            li 
              a(href='/pizzara') Pizarra
        block text