doctype 5
html(lang="en")
  head
    title= title
    link(rel="stylesheet", href="style.css")
    link(rel="stylesheet", href="normalize.css")
    link(rel="stylesheet", href="tabla.css")
    link(rel="stylesheet", href="bootstrap.min.css")
    script(type='text/javascript')
      function insertText(){
        var mydate=new Date()
        var theyear=mydate.getYear()
        if (theyear < 1000)
        theyear+=1900
        var theday=mydate.getDay()
        var themonth=mydate.getMonth()+1
        if (themonth<10)
        themonth="0"+themonth
        var theday=mydate.getDate()
        if (theday<10)
        theday="0"+theday


        var displayfirst=themonth
        var displaysecond=theday
        var displaythird=theyear
        frm1.n2.value = displayfirst+"/"+displaysecond+"/"+displaythird; //asigna el texto al campo
      }

  body(onLoad="insertText();")
    #wrap
      header
        h1 Plataforma de Evaluación JUDC 2013

      section
        article#texto3
          h1 Inscripción de trabajos JUDC
          hr
          form(method="post", enctype="multipart/form-data", name="frm1")
            h2 Datos personales
            p
              label(for="n2") Fecha de inscripción:
                input(type="text", name="n2", size=11, value=usuarios.n2)
            p
              label(for="Temadeinvestigación") Tema de investigación:
                input(type="text", name="n3", size=200, value=usuarios.n3)
            p
            h3 Autores (Nombres y apellidos)

              label(for="n_1") Integrante 1:
                input(type='text', name='n_1', value=usuarios.n_1, size=200)
              label(for="n_2") Integrante 2:
                input(type='text', name='n_2', value=usuarios.n_2, size=200)
              label(for="n_3") Integrante 3:
                input(type='text', name='n_3', value=usuarios.n_3, size=200)
              label(for="n8") Carrera a la que pertenecen:
                input(type='text', name='n8', value=usuarios.n8, size=200)

            label.control-label(for="n7") Departamento al que pertenece
            #controls
              select(id="select01", value=usuarios.n7, name='n7')
                option Ciencias, Tecnología y Salud
                option Economía
                option Humanidades
            hr
            h2 Datos del trabajo
            label(for="n5") Tutor del trabajo:
                input(type='text', name='n5', value=usuarios.n5, size=200)
            label(for="n6") Asesor del trabajo:
                input(type='text', name='n6', value=usuarios.n6, size=200)
            label(for="n9o") Area de estudio:
                input(type='text', name='n9', value=usuarios.n9, size=200)
            label(for="n4") Línea de investigación:
                input(type='text', name='n4', value=usuarios.n4, size=200)

            h3 Tipo de trabajo
            #controls
              label.radio
              input(type="radio", name="n10", id="optionsRadios1", value="Informe de investigación científica")
              |  Informe de investigación científica
              label.radio
              input(type="radio", name="n10", id="optionsRadios2", value="Ensayos")
              |   Ensayos
              label.radio
              input(type="radio", name="n10", id="optionsRadios2", value="Proyecto de Desarrollo")
              |   Proyecto de Desarrollo
              label.radio
              input(type="radio", name="n10", id="optionsRadios2", value="Pre Defensa de monografia")
              |   Pre Defensa de monografia
              label.radio
              input(type="radio", name="n10", id="optionsRadios2", value="Protocolo")
              |   Protocolo
              label.radio
              input(type="radio", name="n10", id="optionsRadios2", value="Artículo Científico")
              |   Artículo Científico
              label.radio
              input(type="radio", name="n10", id="optionsRadios2", value="Software de aplicación y Sitios Web")
              |   Software de aplicación y Sitios Web
              label.radio
              input(type="radio", name="n10", id="optionsRadios2", value="Procesos de enfermería")
              |   Procesos de enfermería
              label.radio
              input(type="radio", name="n10", id="optionsRadios2", value="Evaluación de Planes de Negocio")
              |   Evaluación de Planes de Negocio
              label.radio
              input(type="radio", name="n10", id="optionsRadios2", value="Aplicaciones educativas, Proyectos Educativos basados en Tecnologías")
              |   Aplicaciones educativas, Proyectos Educativos basados en Tecnologías
            h3 Subir archivo    
            label.control-label(for="n11") Documento a subir
            #controls
              input(class="input-file", type="file", name="miarchivo", value=usuarios.n11)
            hr
            button(type='submit', class='btn btn-primary') Mandar los datos        

      content
        nav
          ul
            li
              a(href="/") Inicio
            li 
              a(href='/nuevo-trabajo') Inscripición
            li
              a(href='/admin') IR A LA PAGINA PRIVADA
            li 
              a(href='/pizzara') Pizarra
        block text