doctype 5
html(lang="en")
  head
    title= title
    link(rel="stylesheet", href="style.css")
    link(rel="stylesheet", href="normalize.css")
    link(rel="stylesheet", href="tabla.css")
    link(rel="stylesheet", href="bootstrap.min.css")
    script(type='text/javascript')
      function redireccionar() {
        setTimeout('document.location.reload()',50000);
      }


  body(onLoad="redireccionar();")
    #wrap
      header
        h1 Plataforma de Evaluación JUDC 2013

      section
        article#container
        form(action='/pantalla', method='post')
          h1 Información en tiempo real
          h3 Filtro según instrumento ->> 
            select(id="trabajos", name='trabajos')
              option Informe de investigación científica
              option Ensayos
              option Proyecto de Desarrollo
              option Pre Defensa de monografia
              option Protocolo
              option Artículo Científico
              option Software de aplicación y Sitios Web
              option Procesos de enfermería
              option Evaluación de Planes de Negocio
              option Aplicaciones educativas, Proyectos Educativos basados en Tecnologías
            button(type='submit', class='btn btn-primary') Filtrar 

          table#table
            tr
              th Tema del trabajo
              th Autor 1
              th Autor 2
              th Autor 3
              th Línea de investigación
              th Tutor(a)
              th Asesor(a)
              th Departamento al que pertenece
              th Carrera
              th Area de estudio
              th Tipo de trabajo
              th Jurado 1
              th Jurado 2
              th Jurado 3
              th Nota Presidente
              th Nota Secretario
              th Nota Vocal
              th Nota Final
              - if (inscritos)
              - each inscrito in usuarios
                tr
                  td #{inscrito.n3}
                  td #{inscrito.n_1}
                  td #{inscrito.n_2}
                  td #{inscrito.n_3}
                  td #{inscrito.n4}
                  td #{inscrito.n5}
                  td #{inscrito.n6}
                  td #{inscrito.n7}
                  td #{inscrito.n8}
                  td #{inscrito.n9}
                  td #{inscrito.n10}
                  td #{inscrito.evaluar.j1}
                  td #{inscrito.evaluar.j2}
                  td #{inscrito.evaluar.j3}
                  td #{inscrito.evaluar.nota0}
                  td #{inscrito.evaluar.nota1}
                  td #{inscrito.evaluar.nota2}
                  td #{inscrito.evaluar.promedio}


           
               

      content
        nav
          ul
            li
              a(href="/") Inicio
            li 
              a(href='/nuevo-trabajo') Inscripición
            li
              a(href='/admin') IR A LA PAGINA PRIVADA
            li 
              a(href='/pizzara') Pizarra
        block text


