doctype 5
html(lang="en")
  head
    title= title
    link(rel="stylesheet", href="style.css")
    link(rel="stylesheet", href="normalize.css")
    link(rel="stylesheet", href="tabla.css")
    link(rel="stylesheet", href="bootstrap.min.css")
    script(type='text/javascript')
      function redireccionar() {
        setTimeout('document.location.reload()',20000);
      }


  body()
    #wrap
      header
        h1 Plataforma de Evaluación JUDC 2013

      section
        article#container
        form(action='/pantallaadmin', method='post')
          h1 Tus trabajos asignados
          h2= title
          hr
          h3 Filtro por SALAS ->> 
            select(id="trabajos", name='trabajos', style="color: #5a6600; font-size: 16px;font-weight:bold;text-align: center;")
                option Sala 1
                option Sala 2
                option Sala 3
                option Sala 4
                option Sala 5
                option Sala 6
                option Sala 7
            button(type='submit', class='btn btn-primary') Filtrar 
          h2
            a(href='/salir') Cerrar Sesión

          table#table
            tr
              th Asigna
              th Tema del trabajo
              th Autor 1
              th Autor 2
              th Autor 3
              th Autor 4
              th Tutor(a)
              th Asesor(a) 1
              th Asesor(a) 2
              th Departamento al que pertenece
              th Carrera
              th Tipo de trabajo
              th Jurado 1
              th Jurado 2
              th Jurado 3
              th Sala
              th Nota 1
              th Nota 2
              th Nota 3
              th Promedio
              th Informe
              - if (inscritos)
              - each inscrito in usuarios
                tr
                  td
                    a(href="/notas/" + inscrito._id.toString()) Asignar notas
                  td(style="color: #5a6600; font-size: 14px;font-weight:bold;text-align: center;") #{inscrito.n3}
                  td #{inscrito.n_1}
                  td #{inscrito.n_2}
                  td #{inscrito.n_3}
                  td #{inscrito.n_4}
                  td #{inscrito.n5}
                  td #{inscrito.n6}
                  td #{inscrito.n_6}
                  td #{inscrito.n7}
                  td #{inscrito.n8}
                  td #{inscrito.n10}
                  td #{inscrito.evaluar.j1}
                  td #{inscrito.evaluar.j2}
                  td #{inscrito.evaluar.j3}
                  td #{inscrito.sala}
                  td #{inscrito.evaluar.nota0}
                  td #{inscrito.evaluar.nota1}
                  td #{inscrito.evaluar.nota2}
                  td(style="color: #000000; font-size: 20px;font-weight:bold;text-align: center;") #{inscrito.evaluar.promedio}
                  td 
                    a(href='./uploads/' + inscrito.n11, target='_blank') Ver informe

           
               

      content
        nav
          ul
            li
              a(href="/") Inicio
            li 
              a(href='/nuevo-trabajo') Inscripición
            li
              a(href='/admin') IR A LA PAGINA PRIVADA
            li 
              a(href='/pantalla') Pizarra
      footer 
        i
          &copy; 2013 | UNAN FAREM Chontales | Diseño y programación : Jonathán Moreno
        block text


