doctype 5
html(lang="en")
  head
    title= title
    link(rel="stylesheet", href="style.css")
    link(rel="stylesheet", href="normalize.css")
    link(rel="stylesheet", href="tabla.css")
    link(rel="stylesheet", href="bootstrap.min.css")
    script(type='text/javascript')
      function redireccionar() {
        setTimeout('document.location.reload()',20000);
      }


  body()
    #wrap
      header
        h1 Plataforma de Evaluación JUDC 2013

      section
        article#container
          h1 Tus trabajos asignados
          h2= title
          hr
          h2
            a(href='/salir') Cerrar Sesión

          table#table
            tr
              th Asigna
              th Tema del trabajo
              th Autor 1
              th Autor 2
              th Autor 3
              th Línea de investigación
              th Tutor(a)
              th Asesor(a)
              th Departamento al que pertenece
              th Carrera
              th Area de estudio
              th Tipo de trabajo
              th Jurado 1
              th Jurado 2
              th Jurado 3
              th Nota 1
              th Nota 2
              th Nota 3
              th Promedio
              th Informe
              - if (inscritos)
              - each inscrito in usuarios
                tr
                  td
                    a(href="/notas/" + inscrito._id.toString()) Asignar notas
                  td #{inscrito.n3}
                  td #{inscrito.n_1}
                  td #{inscrito.n_2}
                  td #{inscrito.n_3}
                  td #{inscrito.n4}
                  td #{inscrito.n5}
                  td #{inscrito.n6}
                  td #{inscrito.n7}
                  td #{inscrito.n8}
                  td #{inscrito.n9}
                  td #{inscrito.n10}
                  td #{inscrito.evaluar.j1}
                  td #{inscrito.evaluar.j2}
                  td #{inscrito.evaluar.j3}
                  td #{inscrito.evaluar.nota0}
                  td #{inscrito.evaluar.nota1}
                  td #{inscrito.evaluar.nota2}
                  td #{inscrito.evaluar.promedio}
                  td 
                    a(href='./uploads/' + inscrito.n11) Ver informe

           
               

      content
        nav
          ul
            li
              a(href="/") Inicio
            li 
              a(href='/nuevo-trabajo') Inscripición
            li 
              a(href='/pantalla') Pizarra
        block text


